.curve {
    clip-path: ellipse(100% 59% at 50% 40%);
    -webkit-clip-path: ellipse(100% 59% at 50% 40%);
    position: relative;
    
}

@media (min-width: 768px) {
    .curve {    
        clip-path: ellipse(70% 59% at 50% 40%);
        -webkit-clip-path: ellipse(70% 59% at 50% 40%);
    }
}

